<p id="notice"><%= notice %></p>

<p>
  <strong>Shorten url:</strong>
  <%= @url.shorten_url %>
</p>

<p>
  <strong>Origin url:</strong>
  <%= @url.origin_url %>
</p>

<p>
  <strong>Token:</strong>
  <%= @url.token %>
</p>

<p>
  <strong>Count:</strong>
  <%= @url.count %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
